
body {
    background-color: #f5f5ed;
  }
  
.content {
  margin-top: 100px;
  margin-bottom: 35px;
}

p {
  color:#b4d1b9;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}


a {
  color:#b4d1b9;
  text-decoration: underline;
}

a:hover {
  color:#b2dbb9;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color:#d9e8c8;
}

h1 {
  margin-bottom: 40px;
}

hr {
  border-top: 1px solid #9fb3a0;;
}

.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.footer {
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer p {
  color:#b2dbb9;   
  font-weight: 300;   
}

ul {
  color:#f0ecd1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /* list-style-type: none; */
  margin-left: 40px;
  padding: 0;
}


#home {
  color:#fff5de;
}
