
body {
    background-color: #4d7556;
  }
.content {
  margin-top: 100px;
  margin-bottom: 35px;
}
a {
  color:#f0ecd1;
  text-decoration: underline;
  font-weight: 300;
}

a:hover {
  color:#fcfaed;
}

p {
  color:#f0ecd1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: 500;
  color:#9fb3a0;
}

h1 {
  margin-bottom: 40px;
}

.footer {
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;      
}

ul {
  color:#f0ecd1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
}


#date {
  opacity: 0.5;
}